@font-face {
    font-family: Vazir FD;
    src: url('../fonts/Vazir-Regular-FD.eot');
    src: url('../fonts/Vazir-Regular-FD.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Vazir-Regular-FD.woff2') format('woff2'),
         url('../fonts/Vazir-Regular-FD.woff') format('woff'),
         url('../fonts/Vazir-Regular-FD.ttf') format('truetype');
    font-weight: normal;
    font-display:swap;
  }
/* width */
::-webkit-scrollbar {
    width: 6px;
}
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #aaa;
    border-radius: 6px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
/* Firefox*/
.sroller{
    scrollbar-color: #aaa #f1f1f1; /* thumb and track color*/
    scrollbar-width: thin;
}
body {
    font-family: "Vazir FD" !important;
}

/* Utilities */
.text-gray{
    color: #44494e !important;
}
.dir-ltr{
    direction: ltr;
}
.fs-7{
    font-size: 0.7rem;
}
.fs-8{
    font-size: 0.8rem;
}
.lh-0{
    line-height: 0;
}
.bg-red{
    background-color: #ff7976;
}
.bg-purple{
    background-color: #9694ff;
}
.bg-blue{
    background-color: #57caeb;
}
.bg-green{
    background-color: #5ddab4;
}
.link-style{
    text-decoration: none;
}
/* Override Bootstrap Class */
.card{
    border: none !important;
    border-radius: 0.35rem;
}
.card-header{
    padding: 1rem;
    border-bottom: none;
}
.card-header:first-child{
    border-radius: 0.7rem;
}
.breadcrumb a{
    color: #435ebe;
    text-decoration: none;
}
/* Sidebar */
.sidebar{
    width: 250px;
    height: 100vh;
    position: fixed;
    transition: all 0.5s ease-out;
    background-color: #8187dc;
    padding: 2rem;
    overflow-y: hidden;
    z-index: 10;
}
.sidebar:hover{
    overflow-y: auto;
}
.sidebar.inactive{
    margin-right: -250px;
}
.sidebar .sidebar-item{
    margin-top: 0.2rem;
}
.sidebar .sidebar-item .sidebar-link{
    text-decoration: none;
    color: #f0efeb;
    padding: 0.6rem 1rem;
    display: flex;
    align-items: center;
    border-radius: 0.5rem;
    transition: all 0.5s;
    font-size: 0.92rem;
}
.sidebar .sidebar-item .sidebar-link:hover{
    background-color: #7678ed;
}
.sidebar .sidebar-item .sidebar-link i{
    color: #f0efeb;
}
.sidebar .sidebar-item .sidebar-link{
    cursor: pointer;
}
.sidebar .sidebar-item.active .sidebar-link{
    background-color: #3d348b;
    color: #fcca46;
}
.sidebar .sidebar-item.active .sidebar-link i{
    color: #fcca46;
}
.sidebar .submenu{
    list-style: none;
}
.sidebar .submenu .submenu-item a{
    padding: 0.7rem 1rem;
    display: block;
    color: #f0efeb;
    font-size: 0.85rem;
    font-weight: 500;
    text-decoration: none;
    transition: all 0.3s;
}
.sidebar .submenu .submenu-item a:hover{
    margin-right: 0.3rem;
}
.sidebar .sidebar-item .bi-chevron-down{
    font-size: 0.8rem;
}

/* Header */
.dropdown-toggle{
    color: #d1d3e2;
  }
.dropdown-toggle:hover{
    color: #8d99ae;
    cursor: pointer;
  }
/* Main */
.main{
    background-color: #fffcf7;
    transition: all 0.5s ease-out;
}
.main.active{
    margin-right: 0;
}
.main .toggle-sidebar-icon{
    color: #364b98;
}
.main .content .stats-icon{
    width: 3rem;
    height: 3rem;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main .content .stats-icon i{
    color: #fff;
    font-size: 1.7rem;
}
@media (min-width: 992px) {
    .main{
        margin-right: 250px;
    }
}
[x-cloak]{
    display: none !important;
}
/* auths */
.auth-page {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: #fffcf7 !important;
    font-size: 0.9rem;
}